# Environment and configuration
.env
*.env

# Logs
*.log

# Python
__pycache__/
*.py[cod]
venv/

# Node.js
node_modules/
dist/
npm-debug.log

# OS-specific
.DS_Store
Thumbs.db

# Editor folders
.idea/
.vscode/
